<div role="listitem" class="fl w-100 w-50-l pb4 pr3-m pr4-l">

  <a href="{{ .RelPermalink }}"
     class="link db pa3 pb4 bg-white shadow-hover relative">
    <article role="article">
      <div class="bb bw2 b--light-yellow"></div>
      <div class="cf">
        <p class="fl f6 black">
          {{ partial "calendar/eventtype-title" . }}
        </p>
        <!-- TODO: microformats and time tag -->
        <p class="fr f6 ttu">
          {{ if ne .Params.startdate nil }}
          {{ dateFormat "Jan 2" .Params.startdate }}
          {{ end }}
        </p>
      </div>
      <!-- TODO: Look at partials for these images here and elsewhere -->
      {{ if ne .Params.mainimage nil }}
      <div role="presentation" class="cf h5 cover bg-center"
           style="background-image: url('{{ .Params.mainimage }}')" aria-hidden="true"></div>
      {{ end }}
      <h2 class="mb0">{{ .Title }}</h2>
      <p class="mt0 f6">
        {{ if ne .Params.startdate nil }}
        <span class="ttl">
          <!-- starts -->
          {{ dateFormat "3:04PM" .Params.startdate }}
          <!-- ends -->
          {{ if ne .Params.enddate nil }}
          &ndash; {{ dateFormat "3:04PM" .Params.enddate }}
          {{ end }}
        </span>
        {{ end }}
      </p>
      <p class="f6">{{ .Summary }}</p>
      <footer class="pb3">
        <h5 class="ttu">Location <span class="fw4 ttn pl3">{{ .Params.location }}</span></h5>
        <span class="fr dib pa2 mb3 f6 ttu bg-light-gray hover-bg-green hover-white"
              aria-label="Learn more about {{ .Title }}">Learn More</span>
      </footer>
    </article>
  </a>
</div>