{{ define "contentPad" }}

<div class="cf w-100">
  <main role="main">

    <div class="fr w-100 w-50-m w-30-l pb4 ph3-ns pt3 nt3 bl-ns bw1 b--gray">
      <aside>
        <p class="pa3 mt0 ba b--dotted h5">TODO: Calendar</p>
        <h3 class="f3 ttu">Filters</h3>
        <!-- TODO: Change this to look up the href -->
        <h4><a href="eventtypes" class="link green">Event Types</a></h4>
        <nav role="navigation">
          <ul class="list pa0">
            {{ range (where .Site.Pages.ByTitle "Type" "eventType") }}
            <li><a href="{{ .RelPermalink }}" class="link db pa1 hover-bg-white ttu">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </nav>
        <h4 class="green">Audience</h4>
        <nav role="navigation">
          <ul class="list pa0">
            <li>TODO</li>
          </ul>
        </nav>
      </aside>
    </div>
    <div class="fl w-100 w-50-m w-70-l">
      <h1>{{ .Title }}</h1>
      <div role="list" class="cf fl-2col">
        <!-- Grab only the events marked as featured -->
        <!-- TODO: Make sure they expire? -->
        {{ range $index, $element := where (.Site.Pages.ByParam "startdate") "Params.featured" true }}

        {{ partial "calendar/event-list-card" . }}

        {{ end }}
      </div>

      <h2 class="cf f2">All Events</h2>
      <div role="list" class="cf fl-2col">
        <!-- Grab some of the other events -->
        {{ range $index, $element := first 14 (where (.Site.Pages.ByParam "startdate") "Type" "event") }}

        {{ partial "calendar/event-list-card" . }}

        {{ end }}
      </div>
      <hr>
      <div class="tc mv4"><a href="#" class="btn-offset link f6 b ttu bg-white">View More Events</a></div>
      <hr>
    </div>

  </main>
</div>

{{ end }}